@font-face {
  font-family: Interface;
  src: url('assets/fonts/Inter-UI-Regular.woff') format('woff'),
  url('assets/fonts/Inter-UI-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Interface;
  src: url('assets/fonts/Inter-UI-Medium.woff') format('woff'),
  url('assets/fonts/Inter-UI-Medium.woff2') format('woff2');
  font-weight: 600;
}
