////
/// Threads Properties
/// Font Stack
/// @group properties
/// @author Curtis Dulmage
////

/// Label used within $threads-properties
/// @type {String} Used when merging values into $threads-properties
$font-stack-label: 'font-stack';

$threads-properties: map-merge(
  $threads-properties, (
    $font-stack-label: ()
  )
);

/// Returns the font-stack for the given group and variant.
/// @param {String} $group (optional) - The key for the font-stack group. (helpful to think of this as the `family` (Futura / Courier))
/// @param {String} $variant (optional) - The key for the font-stack variant. (helpful to think of this as the `font variant` (thin / light / bold / heavy))
/// @return {List} The font-stack for the requested family.
@function sg-font-stack($group: $threads-default-value, $variant: $threads-default-value) {
  $font-stack-data: map-get($threads-properties, $font-stack-label);
  $fetched-font-stack: threads-value-get($font-stack-data, $group, $variant);

  @if type-of($fetched-font-stack) == string or type-of($fetched-font-stack) == list {
    @return $fetched-font-stack;
  } @else {
    @error 'Font-stack `#{$group} - #{$variant}` not found. Available options: #{available-names($font-stack-data)}';
  }
}
