////
/// Spacing
/// @group theme/spacing
////

///
/// Spacing data
$spacing-unit: 0.4rem;

$styleguide-spacing-data: (
  tightest: $spacing-unit * 2,
  tighter: $spacing-unit * 4,
  tight: $spacing-unit * 6,
  base: $spacing-unit * 8,
  loose: $spacing-unit * 10,
  looser: $spacing-unit * 12,
  loosest: $spacing-unit * 14,
  fat: $spacing-unit * 16,
  fatter: $spacing-unit * 18,
  fattest: $spacing-unit * 20,
  huge: $spacing-unit * 26,
  huger: $spacing-unit * 32,
  hugest: $spacing-unit * 50,
  jumbo: $spacing-unit * 56,
  jumboer: $spacing-unit * 62,
  jumboest: $spacing-unit * 68
);

///
/// Merge into Threads
@include threads-update-property('spacing', $styleguide-spacing-data);


